<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geek">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PaiActivity"></activity>
        <activity android:name=".activity.TreasureActivity" />
        <activity android:name=".activity.AssetsActivity" />
        <activity android:name=".activity.CatActivity" />
        <activity android:name=".activity.RealActivity" />
        <activity android:name=".activity.HandActivity" />
        <activity android:name=".activity.JudicialActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.RegisteredActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.EnterpriseActivity" />
        <activity android:name=".activity.StatusActivity" />
        <activity android:name=".activity.SuccessActivity" />
        <activity android:name=".activity.ResetOKActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.ForgetpasswordActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>